# local directories
NODE_1_DIR=[path]
NODE_2_DIR=[path]
NODE_3_DIR=[path]
NON_FED_1_DIR=[path]

# bitcoind
BITCOIND_NETWORK=regtest
BITCOIND_URL=http://localhost:18443
BITCOIND_USER=user
BITCOIND_PWD=pwd

BLOCK_FEE_RECIPIENT_ADDRESS=address